# Basic Movie Recommendation System
**By: Sameeha Ramadhan**

In this project I will construct a simple recommmendation system using the TMDB 5000 Movie Dataset found on kaggle.com. This system should take in a movie name and ouput a number of suggested movies.

In [5]:
import pandas as pd 
import numpy as np 
credits=pd.read_csv('data/tmdb_5000_credits.csv')
movies=pd.read_csv('data/tmdb_5000_movies.csv')

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

**The "credits" dataset contains the following features (columns):**

* movie_id: A unique id number for each movie.
* title: the title of the movie
* cast:  The names of the cast members
* crew: The names of the crew members (director, writers, etc.)

**The "movies" dataset has the following features:**

* budget: The movie's production budget
* genres: The movie's genre (i.e. Action, etc.)
* homepage: The official website of the movie
* id: A unique id number for each movie; this matches the movie_id column in the credits dataset
* keywords: The movie's keywords
* original_language: The movie's original language
* original_title:  The movie's title before translation or adaptation
* overview:  A short description of the movie
* popularity: The movie's rating that measures it's popularity
* production_companies: The company that produced the movie
* production_countries:  The country in which the movie was produced
* release_date: The date the movie was released
* revenue: The movie's worldwide profit
* runtime: The movie's length (in minutes)
* status:  The status of the movie, i.e. if it's released or rumored (to be released)
* tagline: The movie's tagline.
* title: The title of the movie; this matches the title column in the credits dataset
* vote_average:  The average ratings the movie recieved.
* vote_count:  The count of the movie's votes